<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Adaptive.SBE" version="1.0.0.112" targetFramework="net472" />
  <package id="App.Metrics" version="4.0.0" targetFramework="net472" />
  <package id="App.Metrics.Abstractions" version="4.0.0" targetFramework="net472" />
  <package id="App.Metrics.Concurrency" version="2.0.1" targetFramework="net472" />
  <package id="App.Metrics.Core" version="4.0.0" targetFramework="net472" />
  <package id="App.Metrics.Formatters.Ascii" version="4.0.0" targetFramework="net472" />
  <package id="App.Metrics.Formatters.Json" version="4.0.0" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net472" />
  <package id="Google.ProtocolBuffers" version="2.4.1.555" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.4.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="sbe-tool" version="1.17.1" targetFramework="net472" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="4.7.1" targetFramework="net472" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="TimeZoneConverter" version="3.2.0" targetFramework="net461" requireReinstallation="true" />
  <package id="TT.NET.SDK" version="3.0.0.15" targetFramework="net461" />
</packages>